<table>
  <tr>
    @for (key of defaultConfigsMap().keys(); track key) {
      <td>
        <span
          class="button"
          (click)="setDimensionsFromLevel(key)"
          [attr.tooltip]="'level.' + key + '.catchphrase' | transloco"
          tooltip-position="bottom"
        >
          {{ "level." + key + ".title" | transloco }}
        </span>
      </td>
    }
    @if (this.dimensions().length) {
      <td>
        <span
          class="button"
          (click)="enableCustomOptions()"
          [attr.tooltip]="'level.custom.catchphrase' | transloco"
          tooltip-position="bottom"
        >
          {{ "level.custom.title" | transloco }}</span
        >
      </td>
    }
  </tr>
  @if (displayInputs()) {
    <tr>
      @for (dimension of dimensions(); track dimension.label) {
        <td>
          <b>{{ dimension.label | transloco }}:</b>
          <input
            type="number"
            [min]="dimension.min"
            [max]="dimension.settingName === 'minesNumber' ? maxMines() : null"
            [value]="dimension.min"
            (input)="
              updateDimension(
                dimension.settingName,
                $any($event.target)?.valueAsNumber
              )
            "
          />
        </td>
      }
    </tr>
  }
</table>
