<div class="scene">
  <div class="board">
    <div class="banner">
      <div class="box right">{{ remainingMinesToDiscover() }}</div>
      <div
        class="box"
        [class]="'axo-button-' + gameStatus()"
        (click)="restartGame()"
      ></div>
      <div class="box left">{{ (timerService.timerEmitter | async) || 0 }}</div>
    </div>
    @for (row of tiles(); track row) {
      <div class="row">
        @for (tile of row; track tile.id) {
          <tile
            [tile]="tile"
            (click)="handleTileClick(tile)"
            (contextmenu)="onRightClick(tile)"
          ></tile>
        }
      </div>
    }
  </div>
</div>
