<br />
@if (history.length > 0) {
  <div class="container">
    <table>
      <tr class="custom-th">
        <th>{{ "history.status" | transloco }}</th>
        <th>{{ "history.type" | transloco }}</th>
        <th>{{ "history.mode" | transloco }}</th>
        <th>{{ "history.time" | transloco }}</th>
        <th>{{ "history.flagged" | transloco }}</th>
        <th>{{ "history.date" | transloco }}</th>
      </tr>
      @for (item of history; track item.date) {
        <tr>
          <td>{{ item.status | transloco }}</td>
          <td>{{ "board." + item.type.toString() + ".title" | transloco }}</td>
          <td>
            {{ "level." + item.level + ".title" | transloco }}
            @if (item.level === GameMode.CUSTOM) {
              <span>
                ({{ item.inputs?.dimensions?.join("x") }} &
                {{ item.inputs?.mines }})
              </span>
            }
          </td>
          <td>{{ item.time * 1000 | date: "mm:ss" }}</td>
          <td>{{ item.flagged }}</td>
          <td>{{ item.date | date: "d MMM y HH:mm:ss" }}</td>
        </tr>
      }
    </table>
  </div>
} @else {
  <div class="no-information">
    <h2>{{ "history.empty" | transloco }}</h2>
  </div>
}
<br />
