<div class="gameStage">
  <br />
  <img
    class="animate__animated animate__rubberBand ms-logo"
    src="./assets/images/logo.png"
  />
  <br />
  <br />
  <div class="buttonsMenu">
    @for (boardType of boardTypes; track $index) {
      <span
        class="button buttonMenu"
        (click)="selectBoardType(boardType)"
        [attr.tooltip]="'board.' + boardType + '.catchphrase' | transloco"
        tooltip-position="top"
      >
        {{ "board." + boardType + ".title" | transloco }}
      </span>
    }
  </div>
  <ng-template #gridOptionSlot></ng-template>

  <overlay [overlayData]="overlayData"></overlay>
  <ng-template #boardSlot></ng-template>

  <span
    class="settings"
    [attr.tooltip]="'history.title' | transloco"
    tooltip-position="bottom"
  >
    <img
      src="./assets/images/settings.png"
      width="30"
      height="30"
      (click)="settings()"
    />
  </span>
</div>
