.gameStage {
  text-align: center;
}

.buttonsMenu {
  display: flex;
  justify-content: center;
  @media (max-width: 720px) {
    column-gap: 30px;
  }
  @media (min-width: 721px) and (max-width: 920px) {
    column-gap: 50px;
  }
  @media (min-width: 921px) {
    column-gap: 80px;
  }
  flex-wrap: wrap;
  padding: 20px;
}

.time {
  background: #a3a7ae;
  display: inline-block;
  padding: 6px 10px;
}

.hidden {
  visibility: hidden;
}

.settings {
  height: 30px;
  margin: auto;
  cursor: pointer;
}

.buttonMenu {
  @media (max-width: 600px) {
    margin-bottom: 10px;
  }
}

.ms-logo {
  @media (max-width: 350px) {
    width: 320px;
  }
  @media (min-width: 351px) and (max-width: 400px) {
    width: 400px;
  }
  @media (min-width: 401px) and (max-width: 440px) {
    width: 440px;
  }
}
